unpackaged/main/default/flows/Funding_Award_Requirement_Summary_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>File_Summary_Action_1</name>
        <label>File Summary Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>File_Summary2</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>assignFileSummary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:File</name>
            <value>
                <elementReference>recvarCD</elementReference>
            </value>
        </inputParameters>
        <nameSegment>File_Summary2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Full_Requirement_Summary_Action_1</name>
        <label>Full Requirement Summary Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Full_Requirement_Summary</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>assignRequirementSummaryOutput</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Requirement_Summary</name>
            <value>
                <elementReference>Summarize_Requirement.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:File_Summary</name>
            <value>
                <elementReference>varFileSummaries</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Full_Requirement_Summary</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Summarize_Requirement</name>
        <label>Summarize Requirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Requirement_Summary</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Full_Requirement_Summary_Action_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:FundingAwardRequirement</name>
            <value>
                <elementReference>getRequirement</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Requirement_Summary</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignCD</name>
        <label>assignCD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recvarCD.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTransform</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Summary_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEntityID</name>
        <label>assignEntityID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEntityIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRequirementSections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFileSummary</name>
        <label>assignFileSummary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFileSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>File_Summary_Action_1.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFileSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTransform</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRequirementSummaryOutput</name>
        <label>assignRequirementSummaryOutput</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRequirementSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_Requirement_Summary_Action_1.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateFundingAwardRequirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSectionIDs</name>
        <label>assignSectionIDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEntityIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopRequirementSections.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRequirementSections</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Funding Award Requirement Summary - Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Funding Award Requirement Summary - Button</label>
    <loops>
        <name>loopRequirementSections</name>
        <label>loopRequirementSections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getFundingAwardRequirementSections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignSectionIDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getCDLs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTransform</name>
        <label>loopTransform</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>transformCDL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Summarize_Requirement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCDLs</name>
        <label>getCDLs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transformCDL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>varEntityIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFundingAwardRequirementSections</name>
        <label>getFundingAwardRequirementSections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignEntityID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardRequirementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingAwardRqmtSection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRequirement</name>
        <label>getRequirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFundingAwardRequirementSections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardRequirement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateFundingAwardRequirement</name>
        <label>updateFundingAwardRequirement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Requirement_Summary__c</field>
            <value>
                <elementReference>Full_Requirement_Summary_Action_1.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <object>FundingAwardRequirement</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRequirement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateFileSummaries</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;{!File_Summary_Action_1.promptResponse}&lt;/p&gt;</text>
    </textTemplates>
    <transforms>
        <name>transformCDL</name>
        <label>transformCDL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loopTransform</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getCDLs[$EachItem].ContentDocumentId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>collvarFileSummaries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recvarCD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>varEntityIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFileSummaries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequirementSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
