unpackaged/main/default/flows/Funding_Award_Summary_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PromptAwardSummary</name>
        <label>PromptAwardSummary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Funding_Award_Summaries</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>updateFundingAward</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Requirement_Summaries</name>
            <value>
                <elementReference>varRequirementSummary</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Funding_Award_Summaries</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignGeneratedRequirementSummary</name>
        <label>assignGeneratedRequirementSummary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRequirementSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subflowRequirementSummary.varRequirementSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequirementSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRequirements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRequirementSummary</name>
        <label>assignRequirementSummary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRequirementSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopRequirements.Requirement_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequirementSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRequirements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRequirementUnsubmitted</name>
        <label>assignRequirementUnsubmitted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRequirementSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequirementSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopRequirements</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>decisionSummarized</name>
        <label>decisionSummarized</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loopRequirements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete_Summarized</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>loopRequirements.Requirement_Summary__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopRequirements.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopRequirements.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRequirementSummary</targetReference>
            </connector>
            <label>Complete &amp; Summarized?</label>
        </rules>
        <rules>
            <name>Complete_No_Summary</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopRequirements.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopRequirements.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowRequirementSummary</targetReference>
            </connector>
            <label>Complete / No Summary</label>
        </rules>
        <rules>
            <name>Incomplete</name>
            <conditionLogic>NOT(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>loopRequirements.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopRequirements.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRequirementUnsubmitted</targetReference>
            </connector>
            <label>Incomplete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaStatus</name>
        <dataType>String</dataType>
        <expression>{!loopRequirements.Name}&amp;&quot; with a due date of &quot;&amp;TEXT({!loopRequirements.DueDate})&amp;&quot; has a status of &quot;&amp;TEXT({!loopRequirements.Status})</expression>
    </formulas>
    <interviewLabel>Funding Award Summary - Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Funding Award Summary - Button</label>
    <loops>
        <name>loopRequirements</name>
        <label>loopRequirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getFundingAwardRequirements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decisionSummarized</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PromptAwardSummary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getFundingAward</name>
        <label>getFundingAward</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFundingAwardRequirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFundingAwardRequirements</name>
        <label>getFundingAwardRequirements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopRequirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingAwardRequirement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateFundingAward</name>
        <label>updateFundingAward</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Award_Summary__c</field>
            <value>
                <elementReference>PromptAwardSummary.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <object>FundingAward</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getFundingAward</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>subflowRequirementSummary</name>
        <label>subflowRequirementSummary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignGeneratedRequirementSummary</targetReference>
        </connector>
        <flowName>Funding_Award_Requirement_Summary_Button</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>loopRequirements.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>collvarRequirementSummaries</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequirementSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
